<google-chart [type]='chartType' [options]='options' [columns]='columnNames' [data]='chartDataValue'
    [title]="mainTitle">
</google-chart>
<!-- <div class="row">
    <div class="col-lg-4">
        <svg>
            <g>
                <rect x="502" y="67" width="86" height="12" stroke="none" stroke-width="0" fill-opacity="0"
                    fill="#ffffff"></rect>
                <g>
                    <text text-anchor="start" x="531" y="77.2" font-family="Arial" font-size="12" stroke="none"
                        stroke-width="0" fill="#222222">Cardiac</text>
                </g>
                <path d="M502,73L526,73" stroke="#77b6ea" stroke-width="2" fill-opacity="1" fill="none"></path>
            </g>
        </svg>
    </div>
</div> -->
<!-- <div class="row">
<div class="col-lg-4">
    <g>
        <rect x="502" y="67" width="86" height="12" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
        <g>
            <text text-anchor="start" x="531" y="77.2" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#222222">Cardiac</text>
        </g>
        <path d="M502,73L526,73" stroke="#77b6ea" stroke-width="2" fill-opacity="1" fill="none"></path>
    </g>
</div>
</div> -->