<!-- <mat-toolbar color="primary">
    <span class="fill-remaining-space">My Reactive Form with Material</span>
</mat-toolbar> -->
<!-- <mat-form-field appearance="standard">
    <mat-label>Sessions</mat-label>
    <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <button mat-flat-button color="primary">Select</button>
</mat-form-field> -->
<form class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Select</mat-card-title>
      </mat-card-header>
      <mat-card-content>
            <mat-label>Session</mat-label>
            <mat-select placeholder='Select' [value]="selectedValue">
                <mat-option *ngFor="let session of sessions" [value]="session.value" (click)="SelectSession(session.value)">
                    {{session.viewValue}}
                </mat-option>
            </mat-select>
      </mat-card-content>
    </mat-card>
  </form>