
<!-- <google-chart 
    [type]="chartData.type" 
    [data]="chartData.data" 
    [columns]="chartData.columnNames" 
    [options]="chartData.options" 
    [width]="chartData.width"
    [height]="chartData.height"
    id="visualization">
</google-chart> 
<button mat-icon-button color="primary" (click)="testAddition()"
    aria-label="Example icon button with a home icon">
    <mat-icon>play_circle_filled</mat-icon>
</button> -->
<div id="chart">
    
    
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke" [colors]="chartOptions.colors" [dataLabels]="chartOptions.dataLabels"
        [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
        [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"></apx-chart>
</div>
  