<h1 mat-dialog-title>Session analysis: {{data.session}}</h1>
<mat-dialog-content class="mat-typography">
    <ng-container *ngIf="imageUrl==''">
        <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngIf="imageUrl!=''">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <img style="background-color: white; object-fit: cover; width: 650px;" mat-card-image src={{forceImageUrl}}>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <img style="background-color: white; object-fit: cover; width: 650px;" mat-card-image src={{imageUrl}}>
            </div>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>